---
import type { languages } from "../../../i18n/ui";
import { useTranslations } from "../../../i18n/utils";
import NavLink from "./navLink.astro";

interface Props {
    lang?: keyof typeof languages;
    location?: string;
}

const { lang = "vi", location } = Astro.props;
const translate = useTranslations(lang);

const iconSize = "1.25rem";
const linkIdPrefix = "sidebar-";
---

<nav
    class="fixed z-10 w-full lg:w-[300px] h-svh p-4 lg:p-8 hidden lg:flex flex-col items-center justify-start text-zinc-100 bg-zinc-800"
    id="sidebar"
>
    <div class="w-full pb-4 m-0 lg:pb-1 lg:mb-12 flex items-center">
        <a
            href="/"
            class="grow text-2xl lg:text-3xl tracking-wider font-semibold lg:font-bold text-left"
            >Rainboot</a
        >

        <button
            class="group aspect-square block lg:hidden"
            type="button"
            id="mobile-sidebar-close-button"
            title={translate("dashboard.sidebar.close")}
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1.75rem"
                height="80%"
                class="bi bi-x-lg fill-zinc-100 group-hover:fill-cyan-500 dark:fill-zinc-100 dark:group-hover:fill-blue-700"
                viewBox="0 0 16 16"
            >
                <path
                    d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
                ></path>
            </svg>
        </button>
    </div>

    <div class="grow w-full mb-4 flex flex-col items-center justify-start">
        <div
            class="lg:grow w-full flex flex-col items-center justify-start gap-4"
        >
            <NavLink
                text={translate("dashboard.nav.home")}
                link="/dashboard"
                id={`${linkIdPrefix}home`}
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width={iconSize}
                    height="100%"
                    fill="currentColor"
                    class="bi bi-house-door"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"
                    ></path>
                </svg>
            </NavLink>

            <NavLink
                text={translate("dashboard.nav.transactions")}
                link="/dashboard/transactions"
                id={`${linkIdPrefix}transactions`}
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width={iconSize}
                    height="100%"
                    fill="currentColor"
                    class="bi bi-cash"
                    viewBox="0 0 16 16"
                >
                    <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"></path>
                    <path
                        d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2z"
                    ></path>
                </svg>
            </NavLink>

            <NavLink
                text={translate("dashboard.nav.accounts")}
                link="/dashboard/accounts"
                id={`${linkIdPrefix}accounts`}
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width={iconSize}
                    height="100%"
                    fill="currentColor"
                    class="bi bi-credit-card"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"
                    ></path>
                    <path
                        d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"
                    ></path>
                </svg>
            </NavLink>

            <NavLink
                text={translate("dashboard.nav.savings")}
                link="/dashboard/savings"
                id={`${linkIdPrefix}savings`}
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width={iconSize}
                    height="100%"
                    fill="currentColor"
                    class="bi bi-piggy-bank"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m1.138-1.496A6.6 6.6 0 0 1 7.964 4.5c.666 0 1.303.097 1.893.273a.5.5 0 0 0 .286-.958A7.6 7.6 0 0 0 7.964 3.5c-.734 0-1.441.103-2.102.292a.5.5 0 1 0 .276.962"
                    ></path>
                    <path
                        fill-rule="evenodd"
                        d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069q0-.218-.02-.431c.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a1 1 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.74.74 0 0 0-.375.562c-.024.243.082.48.32.654a2 2 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595M2.516 6.26c.455-2.066 2.667-3.733 5.448-3.733 3.146 0 5.536 2.114 5.536 4.542 0 1.254-.624 2.41-1.67 3.248a.5.5 0 0 0-.165.535l.66 2.175h-.985l-.59-1.487a.5.5 0 0 0-.629-.288c-.661.23-1.39.359-2.157.359a6.6 6.6 0 0 1-2.157-.359.5.5 0 0 0-.635.304l-.525 1.471h-.979l.633-2.15a.5.5 0 0 0-.17-.534 4.65 4.65 0 0 1-1.284-1.541.5.5 0 0 0-.446-.275h-.56a.5.5 0 0 1-.492-.414l-.254-1.46h.933a.5.5 0 0 0 .488-.393m12.621-.857a.6.6 0 0 1-.098.21l-.044-.025c-.146-.09-.157-.175-.152-.223a.24.24 0 0 1 .117-.173c.049-.027.08-.021.113.012a.2.2 0 0 1 .064.199"
                    ></path>
                </svg>
            </NavLink>

            <NavLink
                text={translate("dashboard.nav.categories")}
                link="/dashboard/categories"
                id={`${linkIdPrefix}categories`}
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width={iconSize}
                    height="100%"
                    fill="currentColor"
                    class="bi bi-tags"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M3 2v4.586l7 7L14.586 9l-7-7zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586z"
                    ></path>
                    <path
                        d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1z"
                    ></path>
                </svg>
            </NavLink>
        </div>

        <hr class="block lg:hidden w-screen mx-0 my-4 border-zinc-500" />

        <div class="w-full flex flex-col items-center justify-start gap-4">
            <NavLink
                text={translate("dashboard.nav.settings")}
                link="dashboard/settings"
                id={`${linkIdPrefix}settings`}
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width={iconSize}
                    height="100%"
                    fill="currentColor"
                    class="bi bi-gear"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0"
                    ></path>
                    <path
                        d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z"
                    ></path>
                </svg>
            </NavLink>

            <NavLink text={translate("dashboard.nav.help")} link="/help">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width={iconSize}
                    height="100%"
                    fill="currentColor"
                    class="bi bi-info-circle"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                    ></path>
                    <path
                        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"
                    ></path>
                </svg>
            </NavLink>

            <NavLink text={translate("dashboard.nav.signout")} link="/signout">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width={iconSize}
                    height="100%"
                    fill="currentColor"
                    class="bi bi-box-arrow-right"
                    viewBox="0 0 16 16"
                >
                    <path
                        fill-rule="evenodd"
                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"
                    ></path>
                    <path
                        fill-rule="evenodd"
                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"
                    ></path>
                </svg>
            </NavLink>
        </div>
    </div>

    <script define:vars={{ location, linkIdPrefix }}>
        function highlightSidebar() {
            const highlightedLink = document.getElementById(
                `${linkIdPrefix}${location}`
            );
            if (!highlightedLink) {
                return;
            }

            highlightedLink.classList.remove("hover:bg-zinc-700");

            highlightedLink.classList.add(
                "bg-cyan-500",
                "dark:bg-blue-700",
                "hover:bg-cyan-600",
                "dark:hover:bg-blue-800",
                "text-zinc-800",
                "dark:text-zinc-100"
            );
        }
        highlightSidebar();

        const sidebar = document.getElementById("sidebar");

        document
            .getElementById("mobile-sidebar-close-button")
            .addEventListener("click", () => {
                sidebar.classList.remove("flex");
                sidebar.classList.add("hidden");
            });

        function getStyle(element, name) {
            return element.currentStyle
                ? element.currentStyle[name]
                : window.getComputedStyle
                  ? window
                        .getComputedStyle(element, null)
                        .getPropertyValue(name)
                  : null;
        }

        window.addEventListener("resize", (e) => {
            const TAILWIND_LG_BREAKPOINT = 1024;

            const isLandscape = window.innerWidth >= TAILWIND_LG_BREAKPOINT;
            if (isLandscape) {
                sidebar.classList.remove("hidden");
                sidebar.classList.add("flex");
            } else {
                sidebar.classList.remove("flex");
                sidebar.classList.add("hidden");
            }
        });
    </script>
</nav>
