---
export const prerender = true;

import type { GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import { getLangFromUrl } from "../../i18n/utils";

import Basehead from "../../layouts/basehead.astro";
import LegalPost from "../../layouts/legal/legalPost.astro";
import Navbar from "../../components/shared/navbar.astro";
import Footer from "../../components/shared/footer.astro";

export const getStaticPaths = (async () => {
    return [{ params: { legal: "privacy" } }, { params: { legal: "terms" } }];
}) satisfies GetStaticPaths;

const { legal } = Astro.params;
const lang = getLangFromUrl(Astro.url);

const entry = await getEntry("legal", legal);
if (!entry) {
    return Astro.redirect("/404", 404);
}
---

<html lang={lang}>
    <head>
        <Basehead title={entry.data.title} type="article" />
    </head>

    <body class="relative selection:bg-cyan-500 dark:selection:bg-blue-900">
        <Navbar lang={lang} />

        <main
            class="relative w-full h-full flex items-center justify-center p-8 bg-zinc-100 dark:bg-zinc-900"
        >
            <LegalPost entry={entry} lang={lang} />
        </main>

        <Footer />
    </body>
</html>
