---
import type { loadRenderers } from "astro:container";
import type { languages } from "../../../i18n/ui";
import { useTranslations } from "../../../i18n/utils";
import NavLink from "./navLink.astro";

interface Props {
    lang?: keyof typeof languages;
    location?: string;
}

const { lang = "vi", location } = Astro.props;
const translate = useTranslations(lang);

const iconWidth = "1.5rem";
const iconHeight = "60%";
const linkIdPrefix = "bottom-navbar-";
---

<nav
    class="sticky bottom-0 w-full h-[80px] mt-4 py-2 px-4 lg:hidden flex items-stretch justify-center gap-2 text-zinc-100 bg-zinc-800"
>
    <NavLink
        text={translate("dashboard.nav.home")}
        link="/dashboard"
        id={`${linkIdPrefix}home`}
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width={iconWidth}
            height={iconHeight}
            fill="currentColor"
            class="bi bi-house-door"
            viewBox="0 0 16 16"
        >
            <path
                d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"
            ></path>
        </svg>
    </NavLink>

    <NavLink
        text={translate("dashboard.nav.transactions")}
        link="/dashboard/transactions"
        id={`${linkIdPrefix}transactions`}
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width={iconWidth}
            height={iconHeight}
            fill="currentColor"
            class="bi bi-cash"
            viewBox="0 0 16 16"
        >
            <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4"></path>
            <path
                d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2z"
            ></path>
        </svg>
    </NavLink>

    <NavLink
        text={translate("dashboard.nav.accounts")}
        link="/dashboard/accounts"
        id={`${linkIdPrefix}accounts`}
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width={iconWidth}
            height={iconHeight}
            fill="currentColor"
            class="bi bi-credit-card"
            viewBox="0 0 16 16"
        >
            <path
                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"
            ></path>
            <path
                d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"
            ></path>
        </svg>
    </NavLink>

    <NavLink
        text={translate("dashboard.nav.savings")}
        link="/dashboard/goals"
        id={`${linkIdPrefix}goals`}
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width={iconWidth}
            height={iconHeight}
            fill="currentColor"
            class="bi bi-piggy-bank"
            viewBox="0 0 16 16"
        >
            <path
                d="M5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m1.138-1.496A6.6 6.6 0 0 1 7.964 4.5c.666 0 1.303.097 1.893.273a.5.5 0 0 0 .286-.958A7.6 7.6 0 0 0 7.964 3.5c-.734 0-1.441.103-2.102.292a.5.5 0 1 0 .276.962"
            ></path>
            <path
                fill-rule="evenodd"
                d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069q0-.218-.02-.431c.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a1 1 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.74.74 0 0 0-.375.562c-.024.243.082.48.32.654a2 2 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595M2.516 6.26c.455-2.066 2.667-3.733 5.448-3.733 3.146 0 5.536 2.114 5.536 4.542 0 1.254-.624 2.41-1.67 3.248a.5.5 0 0 0-.165.535l.66 2.175h-.985l-.59-1.487a.5.5 0 0 0-.629-.288c-.661.23-1.39.359-2.157.359a6.6 6.6 0 0 1-2.157-.359.5.5 0 0 0-.635.304l-.525 1.471h-.979l.633-2.15a.5.5 0 0 0-.17-.534 4.65 4.65 0 0 1-1.284-1.541.5.5 0 0 0-.446-.275h-.56a.5.5 0 0 1-.492-.414l-.254-1.46h.933a.5.5 0 0 0 .488-.393m12.621-.857a.6.6 0 0 1-.098.21l-.044-.025c-.146-.09-.157-.175-.152-.223a.24.24 0 0 1 .117-.173c.049-.027.08-.021.113.012a.2.2 0 0 1 .064.199"
            ></path>
        </svg>
    </NavLink>

    <script define:vars={{ location, linkIdPrefix }}>
        function highlightSidebar() {
            const highlightedLink = document.getElementById(
                `${linkIdPrefix}${location}`
            );
            if (!highlightedLink) {
                return;
            }

            highlightedLink.classList.add(
                "bg-cyan-500",
                "dark:bg-blue-700",
                "hover:bg-cyan-600",
                "dark:hover:bg-blue-800",
                "text-zinc-800",
                "dark:text-zinc-100"
            );
        }
        highlightSidebar();
    </script>
</nav>
