---
import { auth, db } from "../../../../database/databaseUtils";
import type { ID } from "../../../../database/models";
import type { languages } from "../../../../i18n/ui";
import { useTranslations } from "../../../../i18n/utils";

interface Props {
    userId?: ID;
    lang?: keyof typeof languages;
}

const { lang = "vi", userId = await auth.user.getId() } = Astro.props;
const translate = useTranslations(lang);

const { data: savingGoals, error: savingGoalsError } =
    await db.function.getGoalProgress(userId, 3);
if (savingGoalsError) {
    console.error(savingGoalsError);
    return Astro.redirect("/500");
}
---

<article
    class="w-full min-w-fit rounded-xl p-4 lg:p-8 flex flex-col items-start justify-start bg-zinc-200 dark:bg-zinc-700"
>
    <h2
        class="w-full mb-4 font-medium text-xl lg:text-2xl text-zinc-600 dark:text-zinc-300"
    >
        {translate("dashboard.home.saving")}
    </h2>

    <div
        class="grow w-full mb-4 flex flex-col items-start justify-start font-medium text-lg text-zinc-900 dark:text-zinc-50"
    >
        {
            savingGoals &&
                savingGoals.length > 0 &&
                savingGoals.map((goal) => (
                    <a
                        href={`/dashboard/goal/${goal.goal_id}`}
                        class="group w-full p-2 lg:px-4 rounded-md flex items-center justify-between bg-zinc-200 hover:bg-cyan-500/20 dark:bg-zinc-700 dark:hover:bg-blue-700/20"
                        title={`Đã tiết kiệm được tổng cộng ${goal.goal_current} / ${goal.goal_target}`}
                    >
                        <span class="max-w-[40%] truncate text-sm lg:text-base">
                            {goal.goal_title}
                        </span>

                        <div class="shrink-0 w-[50%] flex items-center justify-between gap-4">
                            <div class="grow max-w-[80%] h-2.5 rounded-full bg-zinc-300 dark:bg-zinc-600">
                                <div
                                    class="h-2.5 rounded-full bg-cyan-500 dark:bg-blue-700"
                                    style={`width: ${goal.progress}%`}
                                />
                            </div>

                            <span class="text-sm lg:text-base text-zinc-700 dark:text-zinc-300">
                                {goal.progress}%
                            </span>
                        </div>
                    </a>
                ))
        }

        {
            (!savingGoals || savingGoals.length == 0) && (
                <div class="grow w-full h-full flex items-center justify-center gap-4">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="bi bi-piggy-bank-fill h-[2rem] aspect-square fill-zinc-500"
                        viewBox="0 0 16 16"
                    >
                        <path d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069q0-.218-.02-.431c.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a1 1 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.74.74 0 0 0-.375.562c-.024.243.082.48.32.654a2 2 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595m7.173 3.876a.6.6 0 0 1-.098.21l-.044-.025c-.146-.09-.157-.175-.152-.223a.24.24 0 0 1 .117-.173c.049-.027.08-.021.113.012a.2.2 0 0 1 .064.199m-8.999-.65a.5.5 0 1 1-.276-.96A7.6 7.6 0 0 1 7.964 3.5c.763 0 1.497.11 2.18.315a.5.5 0 1 1-.287.958A6.6 6.6 0 0 0 7.964 4.5c-.64 0-1.255.09-1.826.254ZM5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0" />
                    </svg>

                    <span class="font-medium text-lg text-zinc-500 dark:text-zinc-400">
                        {translate("dashboard.no.goal")}.
                    </span>
                </div>
            )
        }
    </div>

    <div class="w-full flex items-center justify-end">
        <a
            href="/dashboard/goals"
            class="font-medium no-underline hover:underline text-sm lg:text-base text-zinc-600 dark:text-zinc-300"
            >{translate("dashboard.see-more")}</a
        >
    </div>
</article>
