---
import { auth, db } from "../../database/databaseUtils";
import type { ID } from "../../database/models";
import { supabase } from "../../database/supabase/client";
import type { languages } from "../../i18n/ui";
import { categoryColors } from "./categoryForm/colorListing.astro";
import type { CategoryRanking } from "./home/spendingByCategories.astro";

interface Props {
    lang?: keyof typeof languages;
    userId?: ID;
    categoryRanking: CategoryRanking;
}

const {
    lang = "vi",
    userId = await auth.user.getId(),
    categoryRanking,
} = Astro.props;

if (!userId) {
    console.error("Cannot retrieve user ID");
    return Astro.redirect("/500");
}

const { data: category, error: categoryError } = await supabase
    .from("Category")
    .select()
    .eq("id", categoryRanking.category_id)
    .single();
if (categoryError) {
    console.error(categoryError);
    return Astro.redirect("/500");
}

const { data: preferences, error: preferencesError } =
    await db.select.preferences(userId);
if (preferencesError) {
    console.error(preferencesError);
    return Astro.redirect("/500");
}

const { currency } = preferences[0];
const backgroundColor = categoryColors[category.this_color].bg;
const softBackgroundColor = categoryColors[category.this_color].softBg;
---

<a
    href={`/dashboard/category/${category.id}`}
    class={`w-full max-w-full overflow-x-hidden min-h-[52px] lg:min-h-[76px] p-2 lg:p-4 rounded-lg flex items-center justify-start gap-2 ${softBackgroundColor}`}
>
    <div class="w-full h-full flex items-center justify-between gap-4">
        <div
            class="grow max-w-[75%] sm:max-w-[85%] lg:max-w-[90%] xl:max-w-[85%] h-full flex items-center justify-start gap-4"
        >
            <div
                class="h-[85%] min-h-[30.59px] lg:min-h-[37.39px] aspect-square"
            >
                <div
                    class={`size-full rounded-full ${backgroundColor}`}
                    title={category.title}
                >
                </div>
            </div>

            <div
                class="grow max-w-[75%] xs:max-w-[90%] lg:max-w-[90%] xl:max-w-[85%] h-full flex flex-col items-start justify-center"
            >
                <span
                    class="max-w-full font-semibold truncate text-sm lg:text-base"
                    >{category.title}</span
                >
                <span class="max-w-full text-xs lg:text-sm truncate"
                    >{category.description}</span
                >
            </div>
        </div>

        <span class="shrink-0 min-w-fit font-semibold text-base lg:text-lg">
            {categoryRanking.money_spent}
            {currency}
        </span>
    </div>
</a>
