---
import type { Tables } from "../../database/database.types";
import { auth } from "../../database/databaseUtils";
import type { ID } from "../../database/models";
import { supabase } from "../../database/supabase/client";
import { categoryColors } from "./categoryForm/colorListing.astro";

interface Props {
    category: Tables<"Category">;
}
const { category } = Astro.props;

const backgroundColor = categoryColors[category.this_color].bg;
const softBackgroundColor = categoryColors[category.this_color].softBg;
---

<a
    href={`/dashboard/category/${category.id}`}
    class={`w-full max-w-full overflow-x-hidden min-h-[52px] lg:min-h-[76px] p-4 rounded-lg flex items-center justify-start gap-2 ${softBackgroundColor}`}
>
    <div class="w-full h-full flex items-center justify-between gap-4">
        <div class="grow max-w-[90%] h-full flex items-center justify-start gap-4">
            <div
                class="h-[85%] min-h-[37.39px] aspect-square"
            >
                <div
                    class={`size-full rounded-full ${backgroundColor}`}
                    title={category.title}
                >
                </div>
            </div>

            <div
                class="grow max-w-[95%] h-full flex flex-col items-start justify-center"
            >
                <span
                    class="max-w-[95%] font-semibold truncate text-base"
                    >{category.title}</span
                >
                <span class="max-w-[95%] text-sm truncate"
                    >{category.description}</span
                >
            </div>
        </div>
    </div>
</a>
